@model PsychologicalGuide.Web.Models.Articles.ArticleIndexViewModel


@{
    ViewBag.Title = "Статии";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Статии
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Article", FormMethod.Get, new { id="formFilter", @class = "form-horizontal", role = "form" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Category)
                            @Html.DropDownListFor(m => m.Category, Model.Categories, new { id = "categoriesList" })
                            @Html.LabelFor(m=> m.SearchWord)
                            @Html.EditorFor(m => m.SearchWord)
                            <input type="submit" value="Търси" />
                        </div>
                    }
                </div>
                @foreach (var article in Model.Arctiles)
                {

                    <div class="panel-body">
                        <a href="/Article/detail/@article.Id">
                            <h3 class="panel-title">@article.Title</h3>
                        </a>
                    </div>
                }
            </div>

            <nav>
                <ul class="pagination">

                    @if (Model.ActivePage > 1)
                    {
                        <li>
                            @Html.ActionLink("Prev", "Index", new { Page = (Model.ActivePage - 1), Category = Model.Category, SearchWord = Model.SearchWord })
                        </li>
                    }

                    @for (int i = 1; i < Model.TotalPage + 1; i++)
                    {
                        <li>
                            @Html.ActionLink(i.ToString(), "Index", new { Page = i, Category = Model.Category, SearchWord = Model.SearchWord })
                        </li>
                    }

                    @if (Model.ActivePage < Model.TotalPage)
                    {
                        <li>

                            @Html.ActionLink("Next", "Index", new { Page = (Model.ActivePage + 1), Category = Model.Category, SearchWord = Model.SearchWord })
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="col-xs-3"></div>
    </div>

    @section Scripts {
        <script>
            $('#categoriesList').on('change', function (event) {
                var form = $(event.target).parents('form');
                form.submit();
            });
        </script>
    }
</div>
